{# empty Twig template #}
{% extends 'DemosBlogBundle::layout.html.twig' %}

{% block content %}
    
<div class="container textCase pageCatalog">
    <div class="feedback_form">
       {{ block('fos_user_content') }} 
    
   </div>  
    
</div>
{% endblock content %}